/** code-mirror */
.CodeMirror {
	font-size: 14px;
}

.CodeMirror-overlayscroll-horizontal {
  height: 9px;
}

.CodeMirror-overlayscroll-vertical {
  width: 9px;
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: transparent; /* The little square between H and V scrollbars */
}

.CodeMirror-overlayscroll-horizontal div, .CodeMirror-overlayscroll-vertical div {
	background-color: #3C424E;
	border-radius: 0;
}