<section class="exercise-solutions row"><!-- solutions  -->
	<div class="col-sm-12">
		<h4><%= @translation.challenge.name %></h4>
		<div class="border">
			<%= render partial: 'shared/solution', collection: @solutions, as: :solution %>
		</div>
	</div>
	
</section><!-- end solutions -->

<%= javascript_pack_tag 'shared/solutions' %>