// common style for displaying markdown and code output
@mixin output {
	font-size: 0.9em;
	padding: 25px 15px;
}

// common style for the challenge title inside boxes
@mixin challenge-box-name {
	font-size: 1.3rem;
	margin-bottom: 15px;
}