<section class="row"><!-- exercise list-->
	<div class="col-sm-12 col-md-12 col-lg-12">
		<h3 class="mb-4">Mis Ejercicios</h3>
		<%= render partial: 'shared/challenge_details', collection: @challenges, as: :challenge %>
	</div>
</section><!-- end exercise list section -->