<section class="exercise-solutions row"><!-- solutions  -->
	<div class="col-sm-12">
		<%= render partial: 'shared/solution', collection: @solutions, as: :solution %>
	</div>
	
</section><!-- end solutions -->

<% content_for :javascript do %>
  <script type="text/javascript">
     <%= render file: js_path(:shared, :solutions) %>
  </script>
<% end %>