<section class="row"><!-- login -->
  <div class="col-sm-12 col-md-10 col-lg-4 offset-md-1 offset-lg-4">
  	<%= devise_error_messages! %>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'base-form' }) do |f| %>
      <div class="header">
        <p class="title">¿Olvidaste tu contraseña?</p>
      </div>

      <div class="body">
        <div class="field">
          <span class="icon"><i class="fa fa-envelope-o"></i></span>
          <%= f.email_field :email, autofocus: true, placeholder: 'Correo Electrónico', class: 'input' %>
        </div>

        <div class="field -nobg">
          <button class="button">Enviar instrucciones para restaurar contraseña</button>
        </div>
      </div>
      
      <div class="separator"></div>

      <div class="links">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</section><!-- end login section-->
