/** @resets
 		@fonts
		@general
 		@header
 		@navigation
 		@layout
 		@footer
 		@media-queries 
*/

/* utilities */


.passed {
	color: $passed-color;
}

.failed {
	color: $failed-color;
}

.scroll {
	position: relative;
	height: 530px;
}

.border {
	border: 1px solid $dark-blue-color;
}

.btn-group, .btn-group .btn {
	width: 100%;
}

/** @group layout */

/** exercise details section */

.exercise-description {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: $preview-bg;
}

/** create exercise section */
.create-exercise .tab-content .tab-pane {
	height: 330px;
	
	.body {
		min-height: 330px;
	}
}

/** practice exercise section */

.practice-exercise {
	.tab-content .tab-pane .body {
		min-height: 530px;
	}

	.details {
		margin-bottom: 20px;
	}

	.card-block {
		padding: 0;
	}

	.exercise-solution {
		height: 220px;
	}

	.exercise-tests {
		height: 170px;
	}
}

.create-exercise {
	.nav.nav-tabs {
		border-color: $dark-blue-color;
	}
}

/* @group media-queries */
@media (min-width: 992px) { 
	.practice-exercise .details {
		margin-bottom: 0;
	}
}