/** @resets
 		@fonts
		@general
 		@header
 		@navigation
 		@layout
 		@footer
 		@media-queries 
*/

/** @group general */
html, body {
	height: 100%;
	margin: 0;
}

body {
	background-color: #252830;
	color: #C4C7D0;
  display: none;
}

section {
	margin: 40px 0;
}

span i,
a i {
	margin-right: 5px;
}

a {
	color: #1997C6;
}

a:hover {
	color: #1585AF;
	text-decoration: none;
}

.container-fluid {
	height: 100%;
	padding: 0;
}

/* utilities */

.passed {
	color: $passed-color;
}

.failed {
	color: $failed-color;
}

.border {
	border: 1px solid $dark-blue-color;
}

.btn-group, .btn-group .btn {
	width: 100%;
}

.flex-wrapper {
	display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  min-height:100%;
  max-height: 100%;
  max-width: 100%;
}

/** @group layout */

/** exercise details section */

.exercise-description {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: $preview-bg;
}

.manage-challenge {
	& {
    flex:2;
    display: flex;
    margin: 0;
	}

	&,
	.tab-content .tab-pane,
	.code-column .body,
	.details-column #markdown-description .body,
	.details-column .body .content {
		height: 100%;
	}

	.nav.nav-tabs {
		border-color: $dark-blue-color;
	}
	
	.tab-content {
		height: calc(100% - 42px);
	}

	.flex-column {
    flex: 1 1;
    overflow: auto;
	}

	.code-column {
		min-width: 690px;
	}

	.details-column {
		min-width: 383px;
		background-color: #24282A;
	}
}

.form-fields {
	& {
		padding: 10px;
	}

	.form-group {
		margin-bottom: 0.5rem;
	}

	label {
		color: #3F494A;
		margin-bottom: 0.25rem;
	}

	input,
	select {
		background-color: #1C2021;
		color: #E0E0E0;
		border: 1px solid transparent;
		outline: none;
		transition: 0.3s ease background-color,0.3s ease border-color;
		// padding: 4px 8px;
		// font-size: 0.85rem;
	}

	input:focus,
	select:focus {
		background-color: #1C2021;
		color: #E0E0E0;
	}

	select option {
		background-color: #1C2021;
	}

	textarea:focus, select:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: #44667F;
    outline: 0 none;
	}
}

/** train challenge section */

.train-challenge {
	& {
    flex:2;
    display: flex;
    margin: 0;
		height: 100%;
	}
	
	.tab-content {
		height: calc(100% - 42px);

		.tab-pane {
			height: 100%;
		}
	}

	.flex-column {
    flex: 1 1;
    overflow: auto;
	}

	.code-column {
		min-width: 442px;
	}

	.details-column {
		min-width: 215px;
	}

	.code-tab {
		height: calc(100% - 49px);

		.header {
			padding: 8px 16px;
			background-color: #2B3033;
			color: #DEDEDE;
	  	font-weight: 300;
		}

		.body {
			height: 100%;
		}

		.title {
			margin-top: 5px;
		}
	}
}


