/** @resets
 		@fonts
		@general
 		@header
 		@navigation
 		@layout
 		@footer
 		@media-queries 
*/

/** @group general */
html, body {
	height: 100%;
	margin: 0;
	font-size: 16px;
}

body {
	background-color: $body-bg-color;
	color: $text-color;
  display: none;
}

section {
	margin: 40px 0;
}

span i,
a i {
	margin-right: 5px;
}

a {
	color: #EBEBEB;
}



.container-fluid {
	height: calc(100% - 51.78px);

	a:link,
	a:visited,
	a:hover,
	a:active {
		color: #EBEBEB;
		text-decoration: none;
	}
}

/* utilities */
.passed {
	color: $passed-color;
}

.failed {
	color: $failed-color;
}

.border {
	border: 1px solid $dark-blue-color;
}

.btn-group, .btn-group .btn {
	width: 100%;
}

.flex-wrapper {
	display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  max-width: 100%;
}

.flex-column {
  flex: 1 1;
}

.scroll,
.fast-scroll {
	position: relative;
	overflow: hidden;
}

.scale {
	transition: all .2s ease-in-out;
}

.scale:hover {
	transform: scale(1.03);
}

.full-width {
	padding: 0;
	margin: 0;
	width: 100%;
}

/** @group layout */

.main-container {
	height: 100%;
	position: relative;
}

.challenge-header {
	margin-bottom: 20px;

	.language {
		width: 100px;
		margin: 0 auto;
	}

	.title {
		text-align: center;
		font-size: 1.5rem;
	}

	.title a {
		color: #fff;
	}
}

/** exercise details section */
.exercise-description {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: $preview-bg;
}

/** manage challenge section */
.manage-challenge {
	& {
    flex:2;
    display: flex;
    margin: 0;
		height: 100%;
		max-height: 100%;
	}

	.tab-content .tab-pane,
	.code-column .body,
	.details-column #markdown-description .body,
	.details-column .body .content {
		height: 100%;
	}

	.nav.nav-tabs {
		border-color: $dark-blue-color;
	}
	
	.tab-content {
		height: calc(100% - 42px);
	}

	.code-column {
		min-width: 665px;
	}

	.code-tab-buttons .tab-content {
		height: calc(100% - 85px);
	}

	.details-column {
		min-width: 414px;
		background-color: $light-body-bg-color;
	}
}

.form-fields {
	& {
		padding: 10px;
	}

	.form-group {
		margin-bottom: 0.5rem;
	}

	label {
		color: #3F494A;
		margin-bottom: 0.25rem;
	}

	input,
	select {
		background-color: #1C2021;
		color: #E0E0E0;
		border: 1px solid transparent;
		outline: none;
		transition: 0.3s ease background-color,0.3s ease border-color;
		// padding: 4px 8px;
		// font-size: 0.85rem;
	}

	input:focus,
	select:focus {
		background-color: #1C2021;
		color: #E0E0E0;
	}

	select option {
		background-color: #1C2021;
	}

	textarea:focus, select:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: #44667F;
    outline: 0 none;
	}
}

/** train challenge section */
.train-challenge {
	& {
    flex:2;
    display: flex;
    margin: 0;
		height: 100%;
		max-height: 100%;
	}

	.tab-content .tab-pane,
	.code-tab .body {
		height: 100%;
	}
	
	.tab-content {
		height: calc(100% - 42px);
	}

	.code-column {
		min-width: 516px;
	}

	.details-column {
		min-width: 215px;
	}

	.code-tab {
		height: calc(100% - 40px);

		&.code-tab-buttons {
			height: calc(100% - 49px);
		}

		.header {
			padding: 8px 16px;
			background-color: #2B3033;
			color: #DEDEDE;
	  	font-weight: 300;
		}

		.title {
			margin-top: 5px;
		}
	}
}

.manage-challenge .expander-button,
.train-challenge .expander-button {
	margin-left: 7px;

	&.-spaced {
		margin-left: 25px;
	}
}