/** @group general */
body {
	background-color: #252830;
	color: #C4C7D0;
}

section {
	margin: 40px 0;
}

span i,
a i {
	margin-right: 5px;
}

a {
	color: #1997C6;
}

a:hover {
	color: #1585AF;
	text-decoration: none;
}