<div class="solution-box -borderless mb-3">
	<div class="user mb-2">
		<a class="link" href="#"><i class="fa fa-user" aria-hidden="true"></i><%= solution.user.username %></a>
	</div>
	<div class="answer" id="answer_<%= solution.id %>">
		<div class="body">
			<div class="content marked-code">
				<input type="hidden" value="<%= solution.answer %>">
			</div>
		</div>
	</div>
</div>