$passed-color: #3A7447;
$failed-color: #994D4D;

$preview-bg: #2C2F37;

$output-bg: #1E1E20;

$markdown-editor-color: #CCCCCC;
$markdown-editor-bg: $output-bg;
$markdown-preview-color: #c5c8c6;

$error-block-color:  #fff;
$error-block-bg: rgba(153, 77, 77, .1);

$completedin-color: #E9E9E9;