.code-output {
	> .body {
		min-height: 100%;
		background-color: $output-bg;
		@include output;
	}

	>.body.-passed {
		border-top: 6px solid $passed-color;
	}

	>.body.-failed {
		border-top: 6px solid $failed-color;
	}

	> .body > .header {  }
	> .body > .content {  }
}