/** @resets
 		@fonts
		@general
 		@header
 		@navigation
 		@layout
 		@footer
 		@media-queries 
*/

/** @group general */
body {
	background-color: #252830;
	color: #C4C7D0;
}

.btn-group, .btn-group .btn {
	width: 100%;
}

section {
	margin: 40px 0;
}

span i,
a i {
	margin-right: 5px;
}

a {
	color: #1997C6;
}

a:hover {
	color: #1585AF;
	text-decoration: none;
}

/* highlightjs code block */
.markdown pre:not([class]) {
	background-color: #1E1E20;
	color: #c5c8c6;
	width: 100%;
	display: block;
	padding: 15px 15px;
}

/** @group layout */
.exercise-tags .btn.btn-sm {
	display: inline-block;
  padding: .20rem .4rem;
  font-size: .850rem;
  border-radius: .2rem;
  margin: 0 10px 10px 0;
}

.exercise-tags span {
	position: relative;
	top: -3px;
}

/** exercise details section */
.exercise-details {
	background-color: #2C2F37;
	padding: 20px 0px 20px;
	box-sizing: border-box;
	margin-bottom: 40px;
}

.exercise-description {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #2C2F37;
}

.exercise-details span {
	margin-right: 10px;
}

/** practice exercise section */
.practice-exercise .tab-content .tab-pane,
.create-exercise .tab-content .tab-pane {  /* TODO: refactor */
	font-size: 0.9em;
	position: relative;
	height: 100%;
}

.create-exercise .tab-content { /* TODO: refactor */
	height: 330px;
	background-color: #2C2F37;
	overflow: auto; 
}

.practice-exercise .tab-content {
	height: 530px;
	background-color: #2C2F37;
	overflow: auto;
}

.practice-exercise .tab-content .body {
	padding: 25px 15px;
}

.practice-exercise .details {
	margin-bottom: 20px;
}

.practice-exercise .card-block {
	padding: 0;
}

.practice-exercise .exercise-solution {
	height: 220px;
}

.practice-exercise .exercise-tests {
	height: 170px;
}

/** test output section */
#output {
	background-color: #1E1E20;
}

#output small {
	color: #E9E9E9;
	font-weight: bold;
}

#output .error-block {
	border: 1px solid #994D4D;
	border-radius: 3px;
	background-color: rgba(153, 77, 77, .1);
	padding: 10px 15px;
}

#output .error-block pre {
	color: #fff;
}

.tab-content.description {
  background-color: #2C2F37;
}

.tab-content.output {
  background-color: #1E1E20;
}

.tab-content.passed {
	border: 2px solid #3A7447;
}

.tab-content.failed {
	border: 2px solid #994D4D;
}

/** custom bootstrap4 treeview 
		http://gijgo.com/Tree/demos/bootstrap-4-treeview */
#output .list-group .list-group-item {
	font-size: 1.03em;
}

.passed {
	color: #3A7447;
}

.failed {
	color: #994D4D;
}


#output .list-group .list-group-item .list-group-item [data-role="spacer"] {
  width: 12px !important;
}

#output .list-group-item, 
#output .list-group-item:hover, 
#output .list-group-item.active {
  background-color: transparent;
  border-color: transparent;
	color: #cfd2da;
}

/** code-mirror */
.CodeMirror {
	font-size: 14px;
}

/** code-mirror markdown description */
#markdown-description .CodeMirror { 
	color: #CCCCCC;
	background-color: #282A2A;
}

/* @group media-queries */
@media (min-width: 992px) { 
	.practice-exercise .details {
		margin-bottom: 0;
	}
}