.challenge-preview {
	border-radius: 2px;
	background-color: $light-body-bg-color;
	padding: 10px 15px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	&:hover {
		background-color: #282D2F;
	}

	> .header .name {
		@include challenge-box-name;
		font-weight: 500;
		color: #a3d8d6;
	}

	> .description {
		font-size: 1rem;
		font-weight: 500;
		color: #dadada;
		margin-bottom: 17px;
	}

	> .description .user { 
		color: #afafaf;
	}
	
	> .description .key { margin-left: 10px; color: #afafaf; }
	> .description .value { color: #fff; }
}