.challenge-tags {
	> .icon { 
	}

	> .tag {
		display: inline-block;
	  padding: .30rem .5rem;
	  font-size: .75rem;
	  border-radius: 2px;
	  margin: 0 10px 2px 0;
	  font-style: normal;
	  font-weight: 500;
	  box-shadow: 0px 1px 6px -2px #000;
	  background-color: #2b3a44;
	}
}